<ion-header>
  <ion-navbar>
    <ion-title>
      Home Page
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-list>

        <ion-item>
          <ion-input type="text" placeholder="Username"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-input type="password" placeholder="Password"></ion-input>
        </ion-item>
      
      </ion-list>

  <button ion-button (click)="goToSecondPage()">
    Click This Button
  </button>

  <br>

  <button ion-button (click)="goToAnotherPage()">
    Go To First Page
  </button>

  <ion-list style="padding: 10%">
      <ion-item>
        <ion-avatar item-start>
          <img src="https://i.ytimg.com/vi/aEvItEpMly8/maxresdefault.jpg">
        </ion-avatar>
        <h2>Finn</h2>
        <h3>Don't Know What To Do!</h3>
        <p>I've had a pretty messed up day. If we just...</p>
      </ion-item>
    </ion-list>
</ion-content>