<!--
  Generated template for the SignIn2Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>sign-in2</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  This is a First Page

  <button ion-button (click)="goToSecondPages()">
    Go To Second Page
  </button>
  
</ion-content>
